<div class="bg-black h-screen" [ngStyle]="{'background-image': 'url('+ bgUrl+')'}">
    <div class="header">
        <img [src]="logoUrl" alt="logo" class="w-52">
    </div>
    <div class="login-container">
        <div class="login-card">
            <h2 class="heading">Sign In</h2>
            <div class="form-field">
                <input type="text" class="input" placeholder="Email or Phone number">
            </div>
            <div class="form-field">
                <input type="text" class="input" placeholder="Password">
            </div>
            <div class="action-field">
                <button class="login-btn">Sign In</button>
            </div>
        </div>
    </div>
</div>