<div class="browse-page">
    <app-header></app-header>
    <div class="banner">
        <img class="banner-img" [src]="tmdbConfig.imagePath + bannerMovie.poster_path" alt="movie image">
        <div class="banner-movie-info text-white">
            <h4 class="banner-heading">{{bannerMovie.original_title}}</h4>
            <p class="banner-description">{{bannerMovie.overview}}</p>
            <div class="banner-action">
                <button type="button" class="play-btn">Play</button>
                <button type="button" class="info-btn">More Info</button>
            </div>
        </div>
    </div>
    <div class="movie-categories">
        <app-movie-category [title]="'Popular'" [movieList]="popularMovie"></app-movie-category>
        <app-movie-category [title]="'Top Rated'" [movieList]="topRatedMovie"></app-movie-category>
        <app-movie-category [title]="'Upcoming'" [movieList]="upcomingMovie"></app-movie-category>
        <app-movie-category [title]="'Now Playing'" [movieList]="nowPlayingMovie"></app-movie-category>
    </div>
</div>

